In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dt=pd.read_csv('juegos2.csv')
dt.head()

,Unnamed: 0,index,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genero,Plataforma
0,0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0,26.0
1,1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,1,11.0
2,2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,7,26.0
3,3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0,26.0
4,4,4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,11,5.0

In [12]:
column=dt.columns.values.tolist()
cols=["Rank","Year","NA_Sales","EU_Sales","Other_Sales",
                    "Global_Sales","Genero","Plataforma"]

In [13]:
from math import log

In [14]:
#Modelo
def rmsle (y, y_pred):
    y=y.values
    assert len(y) == len(y_pred)
    terms_to_sum = [(math.log(y_pred[i]+1)- math.log(y[i]+1))**2.0 
                   for i,pred in enumerate(y_pred)]
    return(sum(terms_to_sum) * (1.0/len(y))) ** 0.5

In [15]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.cross_validation import train_test_split 
train, test = train_test_split(dt, test_size = 0.2)

In [18]:
train_X = train[cols]
train_YGen = train['Genero']
train_YPlat = train['Plataforma']
train_YSales = train['Global_Sales']

test_X = test[cols]
test_YGen = test['Genero']
test_YPlat = test['Plataform']
test_YSales = test['Global_Sales']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices