In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Para compatibilidad entre múltiples plataformas
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

In [5]:
ventas = pd.read_csv('vgsales.csv')
df = pd.DataFrame(ventas)


## Transformación de Genero a numeros 
for i in range(0,len(df)):
    if df.loc[i,'Genre']== 'Sports':
        df.loc[i,'Genero']= str(0)
    elif df.loc[i,'Genre']== 'Platform':
        df.loc[i,'Genero']= (1)
    elif df.loc[i,'Genre']== 'Action':
        df.loc[i,'Genero']= (2)
    elif df.loc[i,'Genre']== 'Adventure':
        df.loc[i,'Genero']= (3)
    elif df.loc[i,'Genre']== 'Misc':
        df.loc[i,'Genero']= (4)
    elif df.loc[i,'Genre']== 'Fighting':
        df.loc[i,'Genero']= (5)
    elif df.loc[i,'Genre']== 'Puzzle':
        df.loc[i,'Genero']= (6)
    elif df.loc[i,'Genre']== 'Racing':
        df.loc[i,'Genero']= (7)
    elif df.loc[i,'Genre']== 'Shooter':
        df.loc[i,'Genero']= (8)
    elif df.loc[i,'Genre']== 'Simulation':
        df.loc[i,'Genero']= (9)
    elif df.loc[i,'Genre']== 'Strategy':
        df.loc[i,'Genero']= (10)
    elif df.loc[i,'Genre']== 'Role-Playing':
        df.loc[i,'Genero']= (11)

In [6]:
## Transformación de Plataforma a numeros 
for i in range(0,len(df)):
    if df.loc[i,'Platform']== '2600':
        df.loc[i,'Plataforma']= str(0)
    elif df.loc[i,'Platform']== '3DO':
        df.loc[i,'Plataforma']= (1)
    elif df.loc[i,'Platform']== '3DS':
        df.loc[i,'Plataforma']= (2)
    elif df.loc[i,'Platform']== 'DC':
        df.loc[i,'Plataforma']= (3)
    elif df.loc[i,'Platform']== 'DS':
        df.loc[i,'Plataforma']= (4)
    elif df.loc[i,'Platform']== 'GB':
        df.loc[i,'Plataforma']= (5)
    elif df.loc[i,'Platform']== 'GBA':
        df.loc[i,'Plataforma']= (6)
    elif df.loc[i,'Platform']== 'GC':
        df.loc[i,'Plataforma']= (7)
    elif df.loc[i,'Platform']== 'GEN':
        df.loc[i,'Plataforma']= (8)
    elif df.loc[i,'Platform']== 'GG':
        df.loc[i,'Plataforma']= (9)
    elif df.loc[i,'Platform']== 'N64':
        df.loc[i,'Plataforma']= (10)
    elif df.loc[i,'Platform']== 'NES':
        df.loc[i,'Plataforma']= (11)
    elif df.loc[i,'Platform']== 'NG':
        df.loc[i,'Plataforma']= (12)
    elif df.loc[i,'Platform']== 'PC':
        df.loc[i,'Plataforma']= (13)
    elif df.loc[i,'Platform']== 'PCFX':
        df.loc[i,'Plataforma']= (14)
    elif df.loc[i,'Platform']== 'PS':
        df.loc[i,'Plataforma']= (15)
    elif df.loc[i,'Platform']== 'PS2':
        df.loc[i,'Plataforma']= (16)
    elif df.loc[i,'Platform']== 'PS3':
        df.loc[i,'Plataforma']= (17)
    elif df.loc[i,'Platform']== 'PS4':
        df.loc[i,'Plataforma']= (18)
    elif df.loc[i,'Platform']== 'PSP':
        df.loc[i,'Plataforma']= (19)
    elif df.loc[i,'Platform']== 'PSV':
        df.loc[i,'Plataforma']= (20)
    elif df.loc[i,'Platform']== 'SAT':
        df.loc[i,'Plataforma']= (21)
    elif df.loc[i,'Platform']== 'SCD':
        df.loc[i,'Plataforma']= (22)
    elif df.loc[i,'Platform']== 'SNES':
        df.loc[i,'Plataforma']= (23)
    elif df.loc[i,'Platform']== 'TG16':
        df.loc[i,'Plataforma']= (24)
    elif df.loc[i,'Platform']== 'WS':
        df.loc[i,'Plataforma']= (25)
    elif df.loc[i,'Platform']== 'Wii':
        df.loc[i,'Plataforma']= (26)
    elif df.loc[i,'Platform']== 'WiiU':
        df.loc[i,'Plataforma']= (27)
    elif df.loc[i,'Platform']== 'X360':
        df.loc[i,'Plataforma']= (28)
    elif df.loc[i,'Platform']== 'XB':
        df.loc[i,'Plataforma']= (29)
    elif df.loc[i,'Platform']== 'XOne':
        df.loc[i,'Plataforma']= (30)

In [7]:
#Exportar nuevo csv con los datos
df.reset_index().to_csv('juegos.csv')

In [8]:
#Traer datos del archivo
dt = pd.read_csv('juegos.csv')
df = pd.DataFrame(dt)
df.head()

,Unnamed: 0,index,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genero,Plataforma
0,0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0,26.0
1,1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,1,11.0
2,2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,7,26.0
3,3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0,26.0
4,4,4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,11,5.0

In [28]:
#Tamaño de la muestra
dt.shape

(16598, 15)

In [29]:
#Describir las variables
dt.describe()

,Unnamed: 0,index,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genero,Plataforma
count,16598.000000,16598.000000,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8298.500000,8298.500000,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441,4.595011,15.797988
std,4791.574219,4791.574219,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028,3.545754,8.392298
min,0.000000,0.000000,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000
25%,4149.250000,4149.250000,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,2.000000,7.000000
50%,8298.500000,8298.500000,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,4.000000,16.000000
75%,12447.750000,12447.750000,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000,8.000000,21.000000
max,16597.000000,16597.000000,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000,11.000000,30.000000

In [10]:
#Conteo de valores
dt.Genre.value_counts()

2009.0    1431
2008.0    1428
2010.0    1259
2007.0    1202
2011.0    1139
2006.0    1008
2005.0     941
2002.0     829
2003.0     775
2004.0     763
2012.0     657
2015.0     614
2014.0     582
2013.0     546
2001.0     482
1998.0     379
2000.0     349
2016.0     344
1999.0     338
1997.0     289
1996.0     263
1995.0     219
1994.0     121
1993.0      60
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      21
1989.0      17
1983.0      17
1990.0      16
1987.0      16
1988.0      15
1985.0      14
1984.0      14
1980.0       9
2017.0       3
2020.0       1
Name: Year, dtype: int64

# variables Cuantitativas a predecir

In [10]:
#Variable Genero
dt.Genero.sum()

76268

In [11]:
#Variable Plataforma
dt.Plataforma.sum()

262215.0

In [12]:
#variable Global_Sales
dt.Global_Sales.sum()

8920.4400000000005

In [13]:
total = dt.Genero.sum() + dt.Genero.sum()
total

152536

# Graficar Variables

In [14]:
#Graficamos variables Genero
sns.distplot(dt.Genero.dropna())
plt.show()

In [15]:
#Graficamos variables Plataforma
sns.distplot(dt.Plataforma.dropna())
plt.show()

In [16]:
#Graficamos variables Year
sns.distplot(dt.Year.dropna())
plt.show()

In [17]:
#Otra grafica
sns.countplot(x="Genero", data= dt, palette = "Greens_d")
plt.show()

In [18]:
#Otra grafica
sns.countplot(x="Plataforma", data= dt, palette = "Greens_d")
plt.show()

In [25]:
#Grafico Genero vs Ventas
dt.plot(kind = 'bar', x='Genero', y='Global_Sales')
plt.show()

In [ ]:
#Grafico Plataforma vs Ventas
dt.plot(kind = 'bar', x='Plataforma', y='Global_Sales')
plt.show()

In [21]:
#Grafico Año vs Ventas
dt.plot(kind = 'scatter', x='Year', y='Global_Sales')
plt.show()

In [22]:
##Correlacion de varibles 
corrvariables = dt[["Rank","Year","NA_Sales","EU_Sales","Other_Sales",
                    "Global_Sales","Genero","Plataforma"]].corr()
mask = np.array(corrvariables)
mask[np.tril_indices_from(mask)] = False
fig,ax = plt.subplots()
fig.set_size_inches(20,10)
sns.heatmap(corrvariables, mask = mask,vmax = .10,
           square = True, annot = True)
plt.show()