In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Para compatibilidad entre múltiples plataformas
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

In [3]:
#Abrir dataset
ventas = pd.read_csv('vgsales4.csv')
df = pd.DataFrame(ventas)
df.head()

,Rank,Name,Platform,Platform2,Year,Year2,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1.0,Wii Sports,Wii,Wii,2006.0,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2.0,Super Mario Bros.,NES,OTRA,1985.0,1993,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3.0,Mario Kart Wii,Wii,Wii,2008.0,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4.0,Wii Sports Resort,Wii,Wii,2009.0,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5.0,Pokemon Red/Pokemon Blue,GB,OTRA,1996.0,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
#Limpiar espacios vacios
df.columns = df.columns.str.strip()

In [5]:
#Agrupar  para visuaización de datos
dt.Platform2.value_counts()

NameError: name 'dt' is not defined

In [29]:
#Agrupar  para visuaización de datos
dt.Year2.value_counts()

2009    1431
2008    1428
2010    1259
2007    1202
2011    1139
2006    1008
2005     941
2002     829
2003     775
2004     763
2012     657
2015     614
2014     582
2013     546
2001     482
1998     379
1993     365
2000     349
2016     344
1999     338
1997     289
1992     271
1996     263
1995     219
1994     121
Name: Year2, dtype: int64

In [6]:
## Transformación de Genero a numeros 
for i in range(0,len(df)):
    if df.loc[i,'Genre']== 'Sports':
        df.loc[i,'Genero']= str(0)
    elif df.loc[i,'Genre']== 'Platform':
        df.loc[i,'Genero']= (1)
    elif df.loc[i,'Genre']== 'Action':
        df.loc[i,'Genero']= (2)
    elif df.loc[i,'Genre']== 'Adventure':
        df.loc[i,'Genero']= (3)
    elif df.loc[i,'Genre']== 'Misc':
        df.loc[i,'Genero']= (4)
    elif df.loc[i,'Genre']== 'Fighting':
        df.loc[i,'Genero']= (5)
    elif df.loc[i,'Genre']== 'Puzzle':
        df.loc[i,'Genero']= (6)
    elif df.loc[i,'Genre']== 'Racing':
        df.loc[i,'Genero']= (7)
    elif df.loc[i,'Genre']== 'Shooter':
        df.loc[i,'Genero']= (8)
    elif df.loc[i,'Genre']== 'Simulation':
        df.loc[i,'Genero']= (9)
    elif df.loc[i,'Genre']== 'Strategy':
        df.loc[i,'Genero']= (10)
    elif df.loc[i,'Genre']== 'Role-Playing':
        df.loc[i,'Genero']= (11)

In [7]:
## Transformación de Plataforma a numeros 
for i in range(0,len(df)):
    if df.loc[i,'Platform2']== '2600':
        df.loc[i,'Plataforma']= str(0)
    elif df.loc[i,'Platform2']== '3DS':
        df.loc[i,'Plataforma']= (1)
    elif df.loc[i,'Platform2']== 'DS':
        df.loc[i,'Plataforma']= (2)
    elif df.loc[i,'Platform2']== 'GBA':
        df.loc[i,'Plataforma']= (3)
    elif df.loc[i,'Platform2']== 'GC':
        df.loc[i,'Plataforma']= (4)
    elif df.loc[i,'Platform2']== 'N64':
        df.loc[i,'Plataforma']= (5)
    elif df.loc[i,'Platform2']== 'PC':
        df.loc[i,'Plataforma']= (6)
    elif df.loc[i,'Platform2']== 'PS':
        df.loc[i,'Plataforma']= (7)
    elif df.loc[i,'Platform2']== 'PS2':
        df.loc[i,'Plataforma']= (8)
    elif df.loc[i,'Platform2']== 'PS3':
        df.loc[i,'Plataforma']= (9)
    elif df.loc[i,'Platform2']== 'PS4':
        df.loc[i,'Plataforma']= (10)
    elif df.loc[i,'Platform2']== 'PSP':
        df.loc[i,'Plataforma']= (11)
    elif df.loc[i,'Platform2']== 'PSV':
        df.loc[i,'Plataforma']= (12)
    elif df.loc[i,'Platform2']== 'SAT':
        df.loc[i,'Plataforma']= (14)
    elif df.loc[i,'Platform2']== 'SNES':
        df.loc[i,'Plataforma']= (14)
    elif df.loc[i,'Platform2']== 'Wii':
        df.loc[i,'Plataforma']= (15)
    elif df.loc[i,'Platform2']== 'WiiU':
        df.loc[i,'Plataforma']= (16)
    elif df.loc[i,'Platform2']== 'X360':
        df.loc[i,'Plataforma']= (17)
    elif df.loc[i,'Platform2']== 'XB':
        df.loc[i,'Plataforma']= (18)
    elif df.loc[i,'Platform2']== 'XOne':
        df.loc[i,'Plataforma']= (19)
    elif df.loc[i,'Platform2']== 'OTRA':
        df.loc[i,'Plataforma']= (20)

In [8]:
#Exportar nuevo csv con los datos
df.reset_index().to_csv('juegos.csv')

In [9]:
#Traer datos del archivo
dt = pd.read_csv('juegos.csv')
df = pd.DataFrame(dt)
df.head()

,Unnamed: 0,index,Rank,Name,Platform,Platform2,Year,Year2,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genero,Plataforma
0,0,0,1.0,Wii Sports,Wii,Wii,2006.0,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0,15.0
1,1,1,2.0,Super Mario Bros.,NES,OTRA,1985.0,1993,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,1,20.0
2,2,2,3.0,Mario Kart Wii,Wii,Wii,2008.0,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,7,15.0
3,3,3,4.0,Wii Sports Resort,Wii,Wii,2009.0,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0,15.0
4,4,4,5.0,Pokemon Red/Pokemon Blue,GB,OTRA,1996.0,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,11,20.0

In [11]:
#Tamaño de la muestra
dt.shape

(16594, 17)

# variables Cuantitativas a predecir

In [12]:
#Variable Genero
dt.Genero.sum()

76235

In [13]:
#Variable Plataforma
dt.Plataforma.sum()

150559.0

In [14]:
#variable Global_Sales
dt.Global_Sales.sum()

8920.1000000000004

In [15]:
total = dt.Genero.sum() + dt.Genero.sum()
total

152470

# Graficar Variables

In [16]:
#Graficamos variables Genero
sns.distplot(dt.Genero.dropna())
plt.show()

In [17]:
#Graficamos variables Plataforma
sns.distplot(dt.Plataforma.dropna())
plt.show()

In [18]:
#Graficamos variables Year
sns.distplot(dt.Year2.dropna())
plt.show()

In [19]:
#Otra grafica
sns.countplot(x="Genero", data= dt, palette = "Greens_d")
plt.show()

In [20]:
#Otra grafica
sns.countplot(x="Plataforma", data= dt, palette = "Greens_d")
plt.show()

In [21]:
#Otra grafica
sns.countplot(x="Year2", data= dt, palette = "Greens_d")
plt.show()

In [24]:
#Grafico Genero vs Ventas
dt.plot(x='Genero', y='Global_Sales')
plt.show()

KeyboardInterrupt:

In [ ]:
#Grafico Plataforma vs Ventas
dt.plot(kind = 'bar', x='Plataforma', y='Global_Sales')
plt.show()

In [ ]:
#Grafico Año vs Ventas
dt.plot(kind = 'scatter', x='Year2', y='Global_Sales')
plt.show()

In [22]:
##Correlacion de varibles 
corrvariables = dt[["Rank","Year2","Global_Sales","Genero","Plataforma"]].corr()
mask = np.array(corrvariables)
mask[np.tril_indices_from(mask)] = False
fig,ax = plt.subplots()
fig.set_size_inches(20,10)
sns.heatmap(corrvariables, mask = mask,vmax = .10,
           square = True, annot = True)
plt.show()

/usr/lib/pymodules/python2.7/matplotlib/collections.py:548: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._edgecolors == 'face':